body {
    margin: 0 !important;
    box-sizing: border-box;
	font-size: 90%;
    font-family: "Raleway", Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #3C3B3B;
    letter-spacing: 3px;
}

/* HEADER */
.top {
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#fff;
    z-index: 999;
}

#header {
    margin: 1.5rem 0 0 0;
    border-top: 2px solid black;
    width: 100%;
    line-height: 3em;
    height: 3em;
    background-color: #fff;
    border-bottom: solid 1px #9994;
}

#header a {
    color: inherit;
    text-decoration: none;
    font-size: 0.7em;
}

#header li a {
    color: #bbb
}

#header ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header ul li {
    display: inline-block;
    padding-left: 0;
}

#header div {
    overflow: hidden;
    display: inline-block;
    height: inherit;
    line-height: inherit;
}

#header h1 {
    padding: 0 0 0 3.5em;
    white-space: nowrap;
    font-size: 1em;
    white-space: nowrap;

    margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: text-bottom;
}

#header .pages {
    border-left: solid 1px #9994;
    margin-left: 3.5em;
    padding-left: 1em;
    line-height: inherit;
}

#header .pages ul li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#header .pages ul li {
    border-left: solid 1px #9994;
    line-height: 1;
    margin-left: .5em;
    padding-left: 1em;
    letter-spacing: 2px;
}

#header .nav {
    height: inherit;
    line-height: inherit;
    text-align: right;
    right: 0;
    position: fixed;
}

#header .nav li {
    padding: 0 1em 0 1.5em;
    border-left: solid 1px #9994;
}

#header .nav li > a {
font-size: 1rem;
}

/* HEADER - END */

/* BODY */

.body {
    padding-bottom: 7em;
}

/* MAIN */

.main {
    padding: 8.5em 10em 0 10em;
    position: relative;
}

/* SIDE-BAR */

.main .side-bar {
    margin: 0;
    width: 19.95em;
    height: 100%;
    display: inline-block;
    /*border: solid 1px black;*/
}

/* HEADER */

.side-bar .header {
    border-bottom: solid 1px #9994;
    padding-bottom: 2em;
}

.side-bar .header h1 {
    font-size: 2.5em;
    letter-spacing: 5px;
    font-weight: 900;
    margin: .3em 0;
}

.side-bar .header img {
    width: 4em;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.side-bar .header p {
    font-size: 0.8em;
    line-height: 2;
}

.side-bar .header a {
    color: inherit;
    text-decoration-style: dotted;
}

/* HEADER - END */

/* CARDS */

.side-bar .cards {
    padding: 3em 0;
    border-bottom: solid 1px #9994;
}

/* CARD */

.cards .card {
    border: solid 1px #9994;
    background-color: white;
    line-height: normal;
    font-size: .6em;
    margin-top: 3.5em;
}

.cards .card:first-child {
    margin-top: 0;
}

.card img.main {
    width: 100%;
    padding: 0;
}

.avatar {
    border-radius: 50%;
}

.card img.avatar {
    float: right;
    padding: 1.5em;
}

.card .description {
    display: inline-block;
    padding: 2em;
}

.card .description h4, .card .description p {
    margin: 0;
    line-height: 1.5;
}

/* CARD - END */

/* MINI-CARD */

.cards .mini-card {
    font-size: .55em;
    margin-top: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px #9994;
    letter-spacing: 2px;
}

.cards .mini-card:first-child {
    margin-top: 0;
}

.cards .mini-card:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.cards .mini-card img {
    height: 6.5em;
    width: 6.5em;
    object-fit: cover;
    padding: 0;
    display: inline-block;
}

.cards .mini-card .description {
    display: inline-block;
    width: 25em;
    margin: 0 0 1em 2em;
    overflow: hidden;
    top: 0;
}

.mini-card .description h4 {
    margin: 5px 0 0 0;
    line-height: 2;
}

.mini-card .description p {
    margin: 5px 0 0 0;
    font-size: .9em;
}

/* MINI-CARD - END */

/* CARDS - END */

/* ABOUT */

.side-bar .about {
    font-size: .7em;
    margin-top: 2.5em;
    padding: 3em 0 4em 0;
    border-top: solid 1px #9994;
    border-bottom: solid 1px #9994;
    line-height: 2;
}

.side-bar .about h4 {
    letter-spacing: 1px;
    font-weight: 800;
}

.side-bar .about p {
    letter-spacing: 1px;
}

.side-bar .about a {
    color: inherit;
    text-decoration: none;
    font-weight: 800;
    font-size: .8em;
    padding: 3em;
}

/* ABOUT - END */

/* CONTACT */

.side-bar .contact {
    margin-top: 4em;
    color: #B6B6B6;
}

.side-bar .contact a {
    color: inherit;
    text-decoration-style: dotted;
}

.side-bar .contact p {
    display: block;
    margin-top: 4.5em;
    font-size: .5em;
    letter-spacing: 1px;
}

/* CONTACT - END */

/* SIDE-BAR - END */

/* ARTICLES */

.articles {
    display: inline-block;
    margin-left: 2.7em;
    position: absolute;
    width: 50.8em;
}

/* ARTICLE */

.articles .article {
    background-color: white;
    border: solid 1px #9994;
    margin-bottom: 4em;
}

.article .header {
    width: 100%;
    display: flex;
    border-bottom: solid 1px #9994;
}

.article .header .title {
    box-sizing: border-box;
    width: 37.65em;
    border-right: solid 1px #9994;
    padding: 3em;
}

.article .header .title h2 {
    font-weight: 800;
    font-size: 1.35em;
    letter-spacing: 2.9px;
}

.article .header .title p {
    color: #999;
    font-size: .6em;
    letter-spacing: 2.5px;
}

.article .header .info {
    box-sizing: border-box;
    width: 16.3em;
    padding: 3em;
}

.article .header .info h4 {
    font-size: .7em;
    letter-spacing: 2px;
    text-align: right;
}

.article .header .info p {
    color: #aaa;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: .6em;
    letter-spacing: 2px;
    display: inline-block;
    position: absolute;
    right: 5em;
    top: .55em;
}

.article .header .info div {
    text-align: right;
    vertical-align: middle;
    position: relative;
}

.article .content {
    padding: 2.8em 2.8em 2em 2.8em;
    overflow: hidden;
}

.article .content img {
    width: 100%;
    margin-bottom: 2em;
}

.article .content p {
    font-size: .8em;
    letter-spacing: .4px;
    line-height: 2;
    color: #646472;
}

.article .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 3em 4em 5em;
}

.article .footer a {
    font-size: .55em;
    color: inherit;
    letter-spacing: 2px;
}

.article .footer > a {
    font-weight: 800;
    text-decoration: none;
}

.article .footer .actions {
    display: flex;
    justify-content: space-between;
}

.article .footer .actions > div {
    margin-left: 1.5em;
    padding-left: 1.5em;
    border-left: solid 1px #9994;
    color: #999;
}

.article .footer .actions > div a {
    text-decoration: none;
}

.article .footer .actions > div:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}

.article .footer .actions > div:first-child a {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* ARTICLE - END */

/* ARTICLES - END */

/* PAGINATION */
.body .pagination {
    width: 100%;
    margin-top: 7em;
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: inherit;
    border: none;
    font-size: .7em;
    font-weight: 700;
}

.pagination .next {
    margin-left: 2em;
    cursor: pointer;
}

.pagination .previous {
    margin-right: 4em;
}
/* PAGINATION - END */

/* MAIN - END */

/* BODY - END */