header {
    margin-top: 90px;
}

header h1 {
    margin: 0 0 20px 0;
}

header p {
    margin-top: 0px;
    margin-bottom: 50px;
}

.secoes {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.secao {
    border: 1px solid black;
    height: 100px;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.icone {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.descricao h1 {
    font-size: 20px;
    margin-bottom: 0px;
}

.descricao p {
    width: 100px;
    text-align: left;
    margin-top: 0px;
}

body {
    width: 1000px;
    margin: auto;
    text-align: center;
}

footer {
    width: 680px;
    text-align: center;
    margin: 50px auto;
}

footer p {
    margin-bottom: 50px;
}

footer a {
    color: white;
    background-color: #666;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}